body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    height: 100vh;
}

@media screen and (min-width: 2000px) {
  body {
    font-size: 2em;
  }
}

@media screen and (max-width: 2000px) {
  body {
    font-size: 0.7em;
  }
}


/* layout that contain the following elements: menu, searchBox, languageToggle, filters*/
.topNavLaptop{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 40px;
  padding: 1vh 0 4vh 0;
}

.topNavBigScreen{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 80px;
  padding: 1vh 0 4vh 0;
}

.topNavMobile{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 30px;
  padding: 1vh 0 1vh 0;
}

.topNavMobileSearchActivated{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 30px;
  padding: 1vh 0 4vh 0;
  align-items: center;
  justify-content: center;
}

/* Button Parameters with drop down */
.menuAndLogo {
  display: flex;
  flex-wrap: nowrap;
  width: 8.5%;
  height: 100%;
}
.menuAndLogoMobile {
  display: flex;
  flex-wrap: nowrap;
  width: 15%;
  height: 100%;
}

.menu {
  width: 50%;
  cursor: pointer;
  padding-right: 0.5vw;
}
.menu ul {
  position: absolute;
  background: inherit;
  margin: 0;
  margin-top: 0em;
  transition: margin-top 0.7s;  
  border-radius: 5px;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
  left: 0;
  width: 15%;
  color: inherit;
  white-space: nowrap;
  cursor: default;
  background: white;
}
.menu ul.hidden {
  visibility: hidden;
  opacity: 0;
}
.menu ul:before {
  content: '';
  width: 0.75em;
  height: 0.75em;
  background: inherit;
  position: absolute;
  top: -0.375em;
  left: calc(56px / 2 - .375em);
  transform: rotate(45deg);
  border-radius: 5px;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
  border-style: solid;
  border-color: rgba(0, 0, 0, .2);
  border-width: 1px;
  z-index: -1;
}
.menu .menuIcon{
  height: 17%;
  width: 17%;
  margin-right: 5px;
}
.menu li {
  list-style: none;
  padding: 0.5em;
  margin: 0;
  position: relative;
  cursor: pointer;
  padding-right: 30px;
  margin-left: -2.4em;
}

.menuMobile {
  width: 50%;
  cursor: pointer;
  padding-right: 0.5vw;
}
.menuMobile ul {
  position: absolute;
  background: inherit;
  margin: 0;
  margin-top: 0em;
  transition: margin-top 0.7s;  
  border-radius: 5px;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
  left: 0;
  width: 25%;
  color: inherit;
  white-space: nowrap;
  cursor: default;
  background: white;
}
.menuMobile ul.hidden {
  visibility: hidden;
  opacity: 0;
}
.menuMobile ul:before {
  content: '';
  width: 0.75em;
  height: 0.75em;
  background: inherit;
  position: absolute;
  top: -0.375em;
  left: calc(56px / 2 - .375em);
  transform: rotate(45deg);
  border-radius: 5px;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
  border-style: solid;
  border-color: rgba(0, 0, 0, .2);
  border-width: 1px;
  z-index: -1;
}
.menuMobile .menuIcon{
  height: 17%;
  width: 17%;
  margin-right: 5px;
}
.menuMobile li {
  list-style: none;
  padding: 0.5em;
  margin: 0;
  position: relative;
  cursor: pointer;
  padding-right: 30px;
  margin-left: -2.4em;
}
/* End Button Parameters with drop down */

.logo {
  width: 50%;
  cursor: pointer;
}

/* Search box */
.searchBox {
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  height: 100%;
}

.searchBoxMobile {
  display: flex;
  flex-wrap: nowrap;
  width: 55%;
  height: 100%;
}

.searchBox input[type=text]{
  flex: 13;
  border-radius: 4px;
  border-color: black;
  font-size: 1.1em;
}

.searchBoxMobile input[type=text]{
  flex: 10;
  border-radius: 4px;
  border-color: black;
  font-size: 1.1em;
}

.searchIcon{
  min-width: 20px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin-right: 1px;
  margin-left: 1px;
}

.searchBoxToggle{
  width: 7%;
}

.desactivateSearchIcon{
  width: 5%;
  padding: 1vh 0 4vh 0;
}

.languagesSelector{
  width: 70px;
}
.languagesSelectorBigScreen{
  width: 170px;
}
/* End Search box */
/* End Layout */

/* Begin content */
.content{
  display: flex;
  flex-wrap: nowrap;
  padding-top: 11px;
}
.contentMobile{
  display: flex;
  flex-wrap: nowrap;
  padding-top: 11px;
  flex-direction: column;
}

.filters{
  width: 18%;
  margin-right: 10px;
  margin-left: -30px;
}
.filtersMobile{
  width: 100%;
  display: flex;
}

.toggleFiltersMobile{
  width: 3.5%;
  margin-left: 5px;
  cursor: pointer;

}

.desactivateFiltersMobile{
  width: 5%;
  padding: 1vh 0 4vh 0;
}

.filtersLabelMobile{
  display: flex;
  padding: 16px 0 10px 0;
}

.filter{
  width: auto;
}
.filterCategory{
  width: auto;
  font-weight: bold;
  font-size: 1.1em;
}
.filterValues{
  width: auto;
}
.filterValue{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}

.quotes{
  display: flex;
  flex-direction: column;
  width: auto;
}
.quote{
  width: auto;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  font-size: 1.15em;

}

.quoteButton{
  width: 5%;
  border-radius: 3px;
  align-self: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.quoteButtonMobile{
  width: 10%;
  border-radius: 3px;
  align-self: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.quoteIcon{
  max-width: "100%";
  max-height:"100%";
  height: 20px;
  width: auto;
}
.moreQuoteButton{
  border-radius: 3px;
  align-self: center;
  margin-bottom: 20px;
}

.moreQuoteFields{
  display: flex;
  flex-direction: column;
}

.moreQuoteField{
  display: flex;
  align-items: baseline;
  margin-bottom: -20px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #000000;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/*snackbar reference: https://medium.com/@farid12ansari7/make-a-snackbar-or-pop-up-notification-for-a-react-web-app-fd246dd1b9f0 */
.snackbar {
  visibility: hidden;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

.snackbarShow {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 

/* End content */



